<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BCS Controller Temps</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


        <!-- Additional files for the Highslide popup effect -->
        <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
        <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css"/>
        <link rel="stylesheet" type="text/css" href="app.css"/>

        <script src="app.js"></script>
        <!--<script>-->
            <!--function enable() {-->
                <!--$.getJSON('/temp/history', function (data) {-->

                    <!--Highcharts.chart('temp-history', {-->
                        <!--chart: {-->
                            <!--zoomType: 'x'-->
                        <!--},-->
                        <!--title: {-->
                            <!--text: 'Temperature History'-->
                        <!--},-->
                        <!--tooltip: {-->
                            <!--shared: true,-->
                            <!--crosshairs: true-->
                        <!--},-->
                        <!--xAxis: {-->
                            <!--type: 'datetime',-->
    <!--//                        tickInterval: 7 * 24 * 3600 * 1000, // 24 hours-->
    <!--//                        tickWidth: 0,-->
    <!--//                        gridLineWidth: 1,-->
                            <!--labels: {-->
                                <!--//format: '{value:%mm/%dd/%yyyy HH:mm:ss}',-->
                                <!--align: 'right',-->
                                <!--rotation: -30-->
                            <!--}-->
                        <!--},-->
                        <!--yAxis: {-->
                            <!--softMin: 60,-->
                            <!--softMax: 78,-->
                            <!--startOnTick: false,-->
                            <!--plotBands: [{-->
                                <!--from: 65,-->
                                <!--to: 70,-->
                                <!--color: 'rgba(68, 170, 213, 0.1)',-->
                                <!--label: {-->
                                    <!--text: 'Ale Range',-->
                                    <!--style: {-->
                                        <!--color: '#606060'-->
                                    <!--},-->
                                    <!--textAlign: 'left'-->
                                <!--}-->
                            <!--}]-->
                        <!--},-->
                        <!--plotOptions: {-->
                            <!--spline: {-->
                                <!--lineWidth: 4,-->
                                <!--states: {-->
                                    <!--hover: {-->
                                        <!--lineWidth: 5-->
                                    <!--}-->
                                <!--},-->
                                <!--marker: {-->
                                    <!--enabled: false-->
                                <!--},-->
                                <!--pointInterval: 5000, // one hour-->
                                <!--pointStart: Date.UTC(2016, 1, 12, 0, 0, 0)-->
                            <!--}-->
                        <!--},-->
                        <!--series: data-->
                    <!--});-->
                <!--});-->

                <!--$.getJSON('/temp/0', function (data) {-->
                    <!--Highcharts.chart('temp-gauge0', {-->

                                <!--chart: {-->
                                    <!--type: 'gauge',-->
                                    <!--plotBorderWidth: 0,-->
                                    <!--plotShadow: false-->
                                <!--},-->
                                <!--title: {-->
                                    <!--text: data[0].name + "<br>(" + data[0].setpoint + " SP)"-->
                                <!--},-->
                                <!--pane: {-->
                                    <!--startAngle: -150,-->
                                    <!--endAngle: 150,-->
                                    <!--background: [{-->
                                        <!--backgroundColor: {-->
                                            <!--linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},-->
                                            <!--stops: [-->
                                                <!--[0, '#FFF'],-->
                                                <!--[1, '#333']-->
                                            <!--]-->
                                        <!--},-->
                                        <!--borderWidth: 0,-->
                                        <!--outerRadius: '109%'-->
                                    <!--}, {-->
                                        <!--backgroundColor: {-->
                                            <!--linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},-->
                                            <!--stops: [-->
                                                <!--[0, '#333'],-->
                                                <!--[1, '#FFF']-->
                                            <!--]-->
                                        <!--},-->
                                        <!--borderWidth: 1,-->
                                        <!--outerRadius: '107%'-->
                                    <!--}, {-->
                                        <!--// default background-->
                                    <!--}, {-->
                                        <!--backgroundColor: '#DDD',-->
                                        <!--borderWidth: 0,-->
                                        <!--outerRadius: '105%',-->
                                        <!--innerRadius: '103%'-->
                                    <!--}]-->
                                <!--},-->

                                <!--// the value axis-->
                                <!--yAxis: {-->
                                    <!--min: 35,-->
                                    <!--max: 80,-->

                                    <!--minorTickInterval: 'auto',-->
                                    <!--minorTickWidth: 1,-->
                                    <!--minorTickLength: 10,-->
                                    <!--minorTickPosition: 'inside',-->
                                    <!--minorTickColor: '#666',-->

                                    <!--tickPixelInterval: 30,-->
                                    <!--tickWidth: 2,-->
                                    <!--tickPosition: 'inside',-->
                                    <!--tickLength: 10,-->
                                    <!--tickColor: '#666',-->
                                    <!--labels: {-->
                                        <!--step: 2,-->
                                        <!--rotation: 'auto'-->
                                    <!--},-->
                                    <!--plotBands: [{-->
                                        <!--from: 65,-->
                                        <!--to: 70,-->
                                        <!--color: '#606060'-->
                                    <!--},-->
                                        <!--{-->
                                            <!--from: (data[0].setpoint > 0) ? data[0].setpoint - 0.5 : 68,-->
                                            <!--to: (data[0].setpoint > 0) ? data[0].setpoint + 0.5 : 68,-->
                                            <!--color: (data[0].setpoint > 0) ? '#55BF3B' : '#606060'-->
                                        <!--}]-->
                                <!--},-->

                                <!--series: data-->
                            <!--}-->
    <!--//                    ,function (chart) {-->
    <!--//                        if (!chart.renderer.forExport) {-->
    <!--//                            setInterval(function () {-->
    <!--//                                var point = chart.series[0].points[0];-->
    <!--//                                var newVal = $.getJSON('http://localhost:8080/temp/0')[0].data[0];-->
    <!--//                                point.update(newVal);-->
    <!--//-->
    <!--//                            }, 10000);-->
    <!--//                        }-->
    <!--//                    }-->
                    <!--);-->
                <!--});-->

                <!--$.getJSON('/temp/1', function (data) {-->
                    <!--Highcharts.chart('temp-gauge1', {-->

                        <!--chart: {-->
                            <!--type: 'gauge',-->
                            <!--plotBackgroundColor: null,-->
                            <!--plotBackgroundImage: null,-->
                            <!--plotBorderWidth: 0,-->
                            <!--plotShadow: false-->
                        <!--},-->

                        <!--title: {-->
                            <!--text: data[0].name + "<br>(" + data[0].setpoint + " SP)"-->
                        <!--},-->

                        <!--pane: {-->
                            <!--startAngle: -150,-->
                            <!--endAngle: 150,-->
                            <!--background: [{-->
                                <!--backgroundColor: {-->
                                    <!--linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},-->
                                    <!--stops: [-->
                                        <!--[0, '#FFF'],-->
                                        <!--[1, '#333']-->
                                    <!--]-->
                                <!--},-->
                                <!--borderWidth: 0,-->
                                <!--outerRadius: '109%'-->
                            <!--}, {-->
                                <!--backgroundColor: {-->
                                    <!--linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},-->
                                    <!--stops: [-->
                                        <!--[0, '#333'],-->
                                        <!--[1, '#FFF']-->
                                    <!--]-->
                                <!--},-->
                                <!--borderWidth: 1,-->
                                <!--outerRadius: '107%'-->
                            <!--}, {-->
                                <!--// default background-->
                            <!--}, {-->
                                <!--backgroundColor: '#DDD',-->
                                <!--borderWidth: 0,-->
                                <!--outerRadius: '105%',-->
                                <!--innerRadius: '103%'-->
                            <!--}]-->
                        <!--},-->

                        <!--// the value axis-->
                        <!--yAxis: {-->
                            <!--min: 35,-->
                            <!--max: 80,-->

                            <!--minorTickInterval: 'auto',-->
                            <!--minorTickWidth: 1,-->
                            <!--minorTickLength: 10,-->
                            <!--minorTickPosition: 'inside',-->
                            <!--minorTickColor: '#666',-->

                            <!--tickPixelInterval: 30,-->
                            <!--tickWidth: 2,-->
                            <!--tickPosition: 'inside',-->
                            <!--tickLength: 10,-->
                            <!--tickColor: '#666',-->
                            <!--labels: {-->
                                <!--step: 2,-->
                                <!--rotation: 'auto'-->
                            <!--},-->
                            <!--plotBands: [{-->
                                <!--from: 65,-->
                                <!--to: 70,-->
                                <!--color: '#606060'-->
                            <!--},-->
                                <!--{-->
                                    <!--from: ((data[0].setpoint > 0) ? (data[0].setpoint - 0.5) : 68),-->
                                    <!--to: ((data[0].setpoint > 0) ? (data[0].setpoint + 0.5) : 68),-->
                                    <!--color: ((data[0].setpoint > 0) ? '#55BF3B' : '#606060')-->
                                <!--}]-->
                        <!--},-->

                        <!--series: data-->
                    <!--});-->
                <!--});-->
            <!--}-->
        <!--</script>-->
    </head>

    <body ng-app="hopologybrewing-bcs">
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<span id="temp-gauge1" style="width: 250px; height: 300px;float:left"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span id="temp-gauge2" style="width: 250px; height: 300px;float:left"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div style="clear: both">-->
            <!--<span ng-controller="outputController" style="width: 250px; margin: 0 auto">-->
                <!--<span ng-repeat="output in outputs">-->
                    <!--<button id="{{ 'output' + $index }}" data-ng-class="[output.on ? 'btn-on' : 'btn-off']">-->
                        <!--{{ output.name }}-->
                    <!--</button>-->
                <!--</span>-->
            <!--</span>-->
    <!--</div>-->

    <!--<div id="temp-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->

    <div>
        <!--<button onclick="enable()">Enable</button>-->
    <!--&lt;!&ndash;<span id="temp-gauge0" style="width: 250px; height: 300px"></span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span id="temp-gauge1" style="width: 250px; height: 300px"></span>&ndash;&gt;-->
        <div ng-controller="outputController">
            <div ng-repeat="output in outputs" class="panel panel-default" style="float: left">
                <div class="panel-body">
                    <span id="{{ 'temp-gauge' + $index }}" style="width: 250px; height: 300px"></span>
                    <button id="{{ 'output' + $index }}" data-ng-class="[output.on ? 'btn-on' : 'btn-off']" ng-bind="output.name"/>
                </div>
            </div>
        </div>

        <div ng-controller="chartController"></div>

        <!--<div id="temp-history" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->
        <div class="row">
            <highchart id="temp-history" config="chartConfig"></highchart>
        </div>
    </div>
    </body>
</html>